{% extends "base.html" %}

{% block content %}

<h2>Nuevo Reclamo</h2>

<form method="POST">

    <label>DNI:</label><br>
    <input type="text" name="dni" required><br><br>

    <label>Nombre:</label><br>
    <input type="text" name="nombre" required><br><br>

    <label>Dirección:</label><br>
    <input type="text" name="direccion" required><br><br>

    <label>Tipo:</label><br>
    <input type="text" name="tipo" required><br><br>

    <label>Descripción:</label><br>
    <textarea name="descripcion" required></textarea><br><br>

    <button type="submit" class="btn btn-resolver">
        Guardar Reclamo
    </button>

</form>

{% endblock %}