{% extends "base.html" %}

{% block content %}

<h2>Lista de Reclamos</h2>

<table border="1" cellpadding="5">

    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Tipo</th>
        <th>Descripción</th>
        <th>Estado</th>
    </tr>

    {% for r in reclamos %}
    <tr>
        <td>{{ r[0] }}</td>
        <td>{{ r[1] }}</td>
        <td>{{ r[2] }}</td>
        <td>{{ r[3] }}</td>
        <td>{{ r[4] }}</td>
        <td>{{ r[5] }}</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}
